<div><a href="#">skip</a></div>
<div><span>app_logo</span>Domino's</div>
<div>Login to unlock awesome benefits</div>
<div>
  <div><span>%_logo</span>Personalized Offers</div>
  <div><span>pizza_piece_logo</span>Loyalty Rewards</div>
  <div><span>mobile_logo</span>Easy Payments</div>
</div>
<div>
  <div>
    <label>Mobile Number</label>
    <input type="tel" [(ngModel)]="mobile" />
  </div>
</div>
<div>By going forward you accept our <a href="#">Terms & Conditions</a></div>
<button type="button" (click)="sendOtp()">Send OTP</button>
